page-cart {
    ion-header {
        height: 16vh; // background: #000;
        background: #f17f37;
    }
    ion-header .toolbar-background {
        border-color: #f17f37;
        background: #f17f37;
    }
    ion-header .toolbar {
        border: none;
    }
    ion-header .toolbar-title {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #fff;
        font-size: 3.5vw;
        text-align: center;
        position: relative;
        left: -7vw;
    }
    ion-header .sub-total-class p {
        width: 60%;
        float: left;
        text-align: center;
        color: #fff;
    }
    .sub-total-class span {
        font-weight: 600;
    }
    .sub-total-class button {
        border-radius: 130px;
        font-size: 4vw;
        text-transform: none;
        background: rgba(250, 197, 78, 1)
    }
    ion-header ion-icon {
        color: #fff;
    }
    .cart-list .cart-item img {
        width: 18%;
        border-radius: 3px;
        float: left;
        margin: auto;
        position: relative;
        top: 1.5vh;
        margin-left: 3vw;
    }
    .cart-list .cart-item-text {
        margin-top: 2vh;
        width: 45%;
        float: left;
        margin-left: 1.5vh;
    }
    .cart-list .cart-item-text p,
    .cart-list .cart-item-text h6,
    .cart-list .cart-item-text h5 {
        margin: auto;
        ;
    }
    .cart-list .cart-item {
        width: 90%;
        height: 12vh;
        margin: auto;
        background: #fff;
        border-radius: 8px;
        border-left: 8px solid #fac54e;
        margin-bottom: 2vh;
    }
    .cart-content .scroll-content {
        background: #ededed;
    }
    .cart-list .cart-item-text p {
        font-size: 3vw
    }
    .cart-list .cart-item-text h6 {
        font-size: 4vw;
    }
    .cart-list .cart-item-text h5 {
        font-size: 4vw;
        color: red;
    }
    .content-orange {
        height: 10vh;
        width: 100%;
        background: #f17f37;
    }
    .cart-list {
        margin-top: -6vh;
    }
    .header-md::after,
    .tabs-md[tabsPlacement="top"]>.tabbar::after,
    .footer-md::before,
    .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
        background-image: none !important;
        border: none;
    }
    .item-left-btn {
        width: 15%;
        float: right;
        margin-right: 5vw;
        margin-top: 6%;
    }
    .item-left-btn .add-btn {
        float: left;
        width: 33%;
    }
    .item-left-btn .rm-btn-icon {
        width: 33%;
    }
    .item-left-btn .qty-num {
        float: left;
        width: 33%;
        text-align: center;
    }
    .item-left-btn .rm-btn button{
        width: 20vw;
        height: 4vh;
        border: 1px solid red;
        background: #fff;
        border-radius: 150px;
        position: relative;
        right: 3vw;
        top: 1vh;
    }
}